@import "animations.css";

.search_li, .search_li_a {
    padding: 2.8% 0 0 0;
    width: 12vw;
    position: relative;
    margin: 0;
    height: 2.3vh;
    overflow: hidden;
}

.search_li > input , .search_li_a >input {
    margin: 0;
    padding: 0 2px;
    position: absolute;
    right: -110%;
    top: 0;
    width: 100%;
    height: 100%;
}



.fa-search{
    color: #FFFFFF;
    font-size: 1.5vmax;
}

.fa-times {
    color: rgba(0, 0, 0, 0.58);
    font-size: 1.5vmax;
}
.searchGlobal {
    position: absolute;
    right: 5px;
    top: 9%;
    cursor: pointer;
}
